body {
    background: #090909;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ▬▬▬▬▬▬▬ MENÚ ▬▬▬▬▬▬▬ */
.menu {
    background: rgb(243, 242, 242);
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.menu li {
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 6px;
    transition: .3s;
    font-size: 18px;
}

.menu li:hover {
    background: #ddd;
}

.menu li.activo {
    background: #007bff;
    color: white;
}

/* ▬▬▬▬▬▬▬ TÍTULO DE CADA CATEGORÍA ▬▬▬▬▬▬▬ */
.titulo-cat {
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
    color: #f0ecec;
}

/* Contenedor general */
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Producto */
.producto {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    height: 420px;
    display: flex;
    flex-direction: column;
}

/* Carrusel */
.carousel {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #ffffff;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}

/* Información del producto */
.info-producto {
    margin-top: 15px;
    flex-grow: 1;
}

.info-producto h3 {
    margin: 0;
    font-size: 20px;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #0077cc;
}

.descripcion {
    font-size: 14px;
    color: #555;
}

/* Etiquetas */
.vendido {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 10px;
    background: red;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.disponible {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 10px;
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
